body
{
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1
{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-size: 40px;
    
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-container
{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
    margin: 0;
    
}

.sp
{
    text-decoration: underline;
}

.bc
{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.tc 
{
    position: absolute;
    right: 300px;
    top: 50px;
}

.dp
{
    border-radius: 100%;
    width: 15%;
}
.skill-row
{
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.kl
{
    width: 25%;
    float: left;
    margin-right: 30px;
   
}
.ki
{
    width: 25%;
    float: right;
    margin-left: 30px;
   
}

hr
{
    border-style: dotted none none none;
    height: 0px;
    border-width: 5px;
    width: 3%;
    size: 30px;
    margin: 100px none;
    
}

.skills
{
    margin-top: 50px;
}

.contact-me
{
    margin: 50px;
    line-height: 2;
}

.cp
{
    margin-bottom: 50px;
    width: 40%;
    margin: auto;
    margin-bottom: 50px;
}

.bottom-container
{
    background-color: #66BFBF;
    padding: 20px;
}

.footer-link
{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 900;
    
}

a
{
    text-decoration: none;
    color: #40514E ;
    margin: 20px;
}

a:hover
{
    color: #EAF6F6;
}

.cr 
{
    color: #EAF6F6;
    font-size: small;
    margin-top: 20px;
}

.BUTTON_ODR {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    font-weight: 100;
    padding: 10px;
    background-color: #6FBFBF;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

 .fa-4x a
 {
   text-decoration: none;
 }